/*1*/
table{
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    background-color: #b3deff;
    opacity: 70%;
}
/*2*/
table:hover{
    border-style: double;
    border-width: 3px;
    opacity: 100%;
}
/*3*/
table > tr > th{
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    text-align: center;
    font-variant-caps: all-petite-caps;
}
/*4*/
table > tbody > tr > td{
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 1px;
}
/*5*/
table > tr:hover > th:nth-child(2n-1){
    opacity: 50%;
}
/*6*/
table > tbody > tr:nth-child(2n-1){
    background-color: #f2fff3;
}
/*7*/
table > tbody > tr:hover{
    background-color: #feffe5;
}
/*8*/
table > tbody > tr:hover > td:nth-child(3), table > tbody > tr:hover > td:nth-child(4){
    background-color: #acc2ff;
}
/*9*/
table > tbody > tr > td:nth-child(1):hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
/*10*/
table > tbody > tr > td:nth-child(3):hover, table > tbody > tr > td:nth-child(4):hover{
    background-color: green;
    color: white;
}
/*11*/
table > tr > th::selection, table > tbody > tr > td::selection{
    background-color: yellow;
    color: black;
}
/*12*/
table > tbody > tr > td:nth-child(2):hover:first-letter{
    text-transform:lowercase;
}
